{% extends 'base.html.twig' %}

{% form_theme formAnnonce 'bootstrap_4_layout.html.twig' %}

{% block title %}Modification d'annonces!{% endblock %}

{% form_theme formAnnonce 'ad/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Modifier l'annonce {{ ad.title }}</h1>

        {{ form_start(formAnnonce) }}

        {{ form_widget(formAnnonce)}}

        <button type="submit" class="btn btn-success">
            Modifier mon produit
        </button>

        {{ form_end(formAnnonce) }}
    </div>

{% endblock %}



{% block javascripts %}

    <script src="/js/form.js"></script>

{% endblock %}
